<p id=”alert”><%= alert %></p>
<div class="login-container">
  <div class="login-grid">
    <div class="login-logo"></div>
    <div class="login-fields">
<h1 class="login">Inventory Management System</h1>
<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%= text_field_tag :email, "demo@mainlib.org", placeholder:'email' %>
  </div>
  <div class="field">
    <%= password_field_tag :password, "mainiac1", placeholder:'password' %>
  </div>
  <div class="actions">
    <%= submit_tag :Login %>
  </div>
<% end %>
</div>
</div>
</div>
</div>