<div id="orders-container">
<h1>Create/Edit a New Order</h1><br><br>
<%= form_with(model: @order,  local: true) do |f| %>
    <p>
        <%= f.label :date, "Date: " %>
        <%= f.date_field :date %><br>
        <%= f.label :library, "Library: " %>
        <%= collection_select(:order, :library_id, Library.all, :id, :name, {}, { :multiple => false } ) %>
        <%= f.label :product, "Product: " %>
        <%= collection_select(:order, :product_id, Product.all, :id, :product_name, {}, { :multiple => false } ) %>
        <%= f.label :serial_no, "Serial Number: " %>
        <%= f.text_field :serial_no, :required => true %><br>
        <%= f.label :po_no, "Purchase Order Number: " %>
        <%= f.text_field :po_no, :required => true %>
    </p>
    <p>
        <%= f.submit 'Submit' %>
    </p>
<% end %>
</div>