<div id="orders-container">
<h1>Create/Edit a New Order</h1><br><br>
<%= form_with(model: @order,  local: true) do |f| %>
    <p>
        <%= f.label :date, "Date: " %>
        <%= f.date_field :date %><br>
        <%= f.label :library, "Library: " %>
        <%= f.select 'library', options_from_collection_for_select(@libraries, :library_name, :library_name) %><br>
        <%= f.label :product, "Product: " %>
        <%= f.select 'product', options_from_collection_for_select(@products, :product_name, :product_name) %><br>
        <%= f.label :serial_no, "Serial Number: " %>
        <%= f.text_field :serial_no, :required => true %><br>
        <%= f.label :vendor, "Vendor: " %>
        <%= f.select 'vendor', options_from_collection_for_select(@vendors, :vendor_name, :vendor_name) %><br>
        <%= f.label :po_no, "Purchase Order Number: " %>
        <%= f.text_field :po_no, :required => true %>
    </p>
    <p>
        <%= f.submit 'Submit' %>
    </p>
<% end %>
</div>