<p id="notice"><%= notice %></p>

<div id="orders-container">
  <div class="table">
   <h1 class="title">Orders</h1>
   <div id="search-svc">
    <%= form_tag(orders_path, method: :get) do %>
    <%= text_field_tag :search, nil, placeholder: 'Search by Service Tag' %>
    <%= submit_tag("Go", :style => "height:30px;width:40px;position:relative;top:-40px;left:210px;") %>
  </p>
<% end %>
</div>

      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Library</th>
            <th>Product/Price</th>
            <th>Serial</th>
            <th>Vendor</th>
            <th>Purchase Order</th>
            <th colspan="7"></th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.date %></td>
              <td><%= order.library %></td>
              <td><%= order.product %></td>
              <td><%= order.serial_no %></td>
              <td><%= order.vendor %></td>
              <td><%= order.po_no %></td>
              <td><%= link_to 'Edit', edit_order_path(order), :class => 'crud' %></td>
              <td><%= link_to 'Delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'crud' %>
            </tr>
            <% end %>
        </tbody>
      </table>

<br>