<p id="notice"><%= notice %></p>
<div id="orders-container">
    <h1 class="title">Vendors</h1>
      <%= link_to '+ Add Vendor', new_vendor_path, class: 'new' %><br><br><p>
      <div class="table-grid">
      <% @vendors.each do |vendor| %>
      <div class="row-name"><%= vendor.vendor_name %></div>
      <div class="row-links"><%= link_to 'Edit', edit_vendor_path(vendor), class: 'crud' %><%= link_to 'Delete', vendor_path(vendor), method: :delete, data: { confirm: 'Are you sure?' }, class: 'crud' %></div>
          <% end %>
</div></div>