<%= form_with(model: @product,  local: true) do |f| %>
    <p>
        <%= f.label :product_name, "Product Name" %>
        <%= f.text_field :product_name%><br>
        <%= f.label :product_price, "Product Price" %>
        <%= f.text_field :product_price%><br>
    </p>
    <p>
        <%= f.submit 'Submit' %>
    </p>
<% end %>