<!DOCTYPE html>
<html>
  <head>
    <title>IMS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sidebar', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="left-sidebar">
<ul>
<li><div class="sidebar-logo"></div></li>
<li><%= link_to 'Inventory', orders_path %></li>
<li><%= link_to 'Products', products_path %></li>
<li><%= link_to 'Libraries', libraries_path %></li>
<li><%= link_to 'Vendors', vendors_path %></li>
</ul>
</div>

    <%= yield %>
  </body>
</html>
